.topnav {
    background-color:  #0e1a35;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color:  #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
/* Add an active class to highlight the current page */
.active {
    background-color: #7386D5;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: icon;
}